<table class="table">
<% time_schedules.each do |t| %>
  <tr>
    <td><%= t.time_schedule %> :</td>
    <td><%= t.start_time.slice(11..15) %></td>
    <td>～</td>
    <td><%= t.end_time.slice(11..15) %></td>
  </tr>
<% end %>
</table>
