@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body{
font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background-image: image-url('bg.jpg');
}

/* loginページ */
.login{
  letter-specing: .1em;
}

/* header */
#menu {
  a {
    color:#000000;
  }
  background-color: rgba(245,245,245,0.3);
  & li a:hover {
      background: rgba(205,92,92,0.9);
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*input*/
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

/*ユーザー一覧*/
.user_index{
  a {
    font-style: italic ;
    font-size: 1.5em;
    font-weight: bold;
  }
}

/* スケジュール一覧表示 */
.table{
  border: 1px solid #aaa;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
  background-color:#DCF0F3;
  color: #086A87;
  td {
    text-align: center;
    padding: 10px 0;
  }
}