@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* header */

#menu {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ff7400), color-stop(0.00, #ffa443));
  background: -webkit-linear-gradient(#ffa443, #ff7400);
  background: -moz-linear-gradient(#ffa443, #ff7400);
  background: -o-linear-gradient(#ffa443, #ff7400);
  background: -ms-linear-gradient(#ffa443, #ff7400);
  background: linear-gradient(#ffa443, #ff7400);
  & li a:hover {
      background: #ffa443;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*input*/
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}