<header class="navbar", id="menu">
  <div class="container">
    <div id="logo">Schedule</div>
    <nav>
      <ul class="nav navbar-nav navbar-right ">
        <li><%= link_to "スケジュール", "#" %></li>
        <li><%= link_to "ユーザー一覧", users_path %></li>
        <li><%= link_to "ユーザー情報", current_user %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>